.user-list{
    display: flex;
    justify-content: space-around;
    border: 1px solid #aaa;
    list-style: none;
    margin: 0;
    padding: 10px;
}
.user-list-head{
    font-size: 20px;
    font-weight: 800;
}
.nav-list{
    justify-content: space-around;
    display: flex;
    list-style: none;
    width: 100px;
}